<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="waybilmobile.company.waybilbuyer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_waybil_buyer_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_waybil_buyer_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="waybilmobile.company.waybilbuyer.view.GeopinActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!-- Figure out what error is below -->
        <service
            android:name="waybilmobile.company.waybilbuyer.view.SignUpActivity"
            android:foregroundServiceType="location"
            tools:ignore="Instantiatable" />
        <service
            android:name="waybilmobile.company.waybilbuyer.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="waybilmobile.company.waybilbuyer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity
            android:name="waybilmobile.company.waybilbuyer.view.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="waybilmobile.company.waybilbuyer.view.DashboardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="waybilmobile.company.waybilbuyer.view.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_waybil_buyer" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
<!--        <meta-data-->
<!--            android:name="firebase_messaging_auto_init_enabled"-->
<!--            android:value="false" />-->
<!--        <meta-data-->
<!--            android:name="firebase_analytics_collection_enabled"-->
<!--            android:value="false" />-->
    </application>

</manifest>